<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExcerciseSuite" verbose="10">
  <test name="Functional Test">
	  <listeners>
		  <listener class-name="common.Listeners" />
	  </listeners>
    <classes>
      <class name="ui.HomePageTest"/>
      <class name="ui.AddToCartTest"/>
      <class name="ui.SignupTest"/>
      <class name="ui.CheckoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
